* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.title {
  color: black;
  font-size: 48px;
  text-align: center;
}

body {
  background-color: #ededed;
}

.app {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.controls > * {
  width: 180px;
}

.controls > button {
  font-size: 18px;
  padding: 10px 20px;
}

.color {
  height: 45px;
}

.toggle {
  background-color: black;
  color: #fefefe;
}

.grid-range > * {
  display: flex;
  justify-content: center;
  width: inherit;
}

#grid-squares-selector {
  accent-color: black;
  margin-top: 16px;
}

.sketch-pad {
  background-color: #fefefe;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 600px;
  width: 600px;
}

@media (max-width: 950px) {
  .sketch-pad {
    border: 1px solid black;
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 700px) {
  .app {
    align-items: center;
    flex-direction: column-reverse;
  }

  .sketch-pad {
    border: 1px solid black;
    height: 300px;
    width: 300px;
  }
}
